@tailwind base;
@tailwind components;
@tailwind utilities;


.MuiBox-root{
  padding-bottom: 0 !important;
}

/* ===========================
Copy Right Section design:: 
==============================
*/
.copyRightText{
  display: block;
  /* text-align: left; */
  font-size: 12px;
  padding-bottom: 10px;
  padding-top: 5px;

}

/* ===========================
Table Design Section in dashboard/table Page:: 
==============================
*/

.table__body{
  position: relative;
}
.cross__bar{
  position: absolute;
  top: 5px;
  right: 5px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
}

/* 
==== *** ===== *** ====
  Scrollbar Design::
==== *** ===== *** ====
*/ 

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ef4444d0; 
}

/* 
==== *** ===== *** ====
  Scrollbar Design End::
==== *** ===== *** ====
*/
