@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===========================
Edit Tailwind CSS Here:: 
==============================
*/

@layer components {
  .btn {
    @apply rounded-md py-2 px-5
    text-white
     font-mono 
     block
     mx-auto
     mt-4;
  }
  .btn-red {
    @apply bg-red-600
    hover:bg-red-700
    dark:bg-red-500
    hover:dark:bg-red-600;
  }
  .btn-yellow {
    @apply bg-yellow-500
    hover:bg-yellow-700
    dark:bg-yellow-500
    hover:dark:bg-yellow-600
    dark:text-black;
  }
  .btn-dash-primary {
    @apply bg-violet-700
    hover:bg-violet-900
    dark:bg-violet-500
    hover:dark:bg-violet-600
    /* dark:text-black; */;
  }
  .btn-dashboard-sm {
    @apply
    font-bold 
    font-mono 
    text-xs 
    rounded-md 
    py-2 
    px-3;
  }
}

/* ===========================
Tailwind Customization End here:: 
==============================
*/

.MuiBox-root {
  padding-bottom: 0 !important;
}

/* ===========================
Copy Right Section design:: 
==============================
*/
.copyRightText {
  display: block;
  /* text-align: left; */
  font-size: 12px;
  padding-bottom: 10px;
  padding-top: 5px;
}

/* ===========================
Table Design Section in dashboard/table Page:: 
==============================
*/

.table__body {
  position: relative;
}
.cross__bar {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
}

/* 
==== *** ===== *** ====
  Scrollbar Design::
==== *** ===== *** ====
*/

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ef4444d0;
}

/* 
==== *** ===== *** ====
  Scrollbar Design End::
==== *** ===== *** ====
*/

/* Add this style to make the DatePicker smaller */
.smallDatePicker .MuiInputBase-root {
  font-size: 16px; /* Adjust the font size to make the input smaller */
}
